<mat-drawer-container class="navbar" autosize>
  <mat-drawer #drawer class="contenido-navbar" [(opened)]="opened" mode="side">
    <div class="d-flex flex-column">

      <!-- menu -->
      <div class="d-flex align-items-center contenedor-opcion">
        <button (click)="showFiller = !showFiller" [ngClass]="showFiller ? 'btn btn-light' : 'btn btn-primary boton-azul'">
          <mat-icon>menu</mat-icon>
        </button>
        <h3 *ngIf="showFiller"><strong class="texto-azul">MENU</strong></h3>
      </div>

      <!-- cursos -->
      <div class="d-flex align-items-center contenedor-opcion">
        <button class="btn btn-light">
          <mat-icon>school</mat-icon>
        </button>
        <h3 *ngIf="showFiller">Cursos</h3>
      </div>

      <!-- lista de alumnos -->
      <div class="d-flex align-items-center contenedor-opcion">
        <button class="btn btn-light">
          <mat-icon>description</mat-icon>
        </button>
        <h3 *ngIf="showFiller">Alumnos</h3>
      </div>

      <!-- abm -->
      <div class="d-flex align-items-center contenedor-opcion">
        <button class="btn btn-light">
          <mat-icon>edit</mat-icon>
        </button>
        <h3 *ngIf="showFiller">ABM</h3>
      </div>

    </div>
  </mat-drawer>

  <!-- contenido principal -->
  <mat-drawer-content>
    <div class="contenedor-principal">
      <app-base-alumnos></app-base-alumnos>
    </div>
  </mat-drawer-content>

</mat-drawer-container>
