<div class="row inicio">
  <div class="col-md-4 d-flex align-items-center">

    <div class="contenedor_login">

      <!-- Titulo -->
      <div class="contenedor_titulo">
        <h2>Iniciar Sesion</h2>
      </div>

      <!-- formulario -->
      <form [formGroup]="formulario" (ngSubmit)="login()" class="mx-5">
          <div class="d-flex flex-column">

            <mat-form-field appearance="fill" class="fill w100">
              <mat-label>Usuario</mat-label>
              <input matInput formControlName="usuario">
            </mat-form-field>

            <mat-form-field appearance="fill" class="fill w100">
              <mat-label>Contrasena</mat-label>
              <input matInput formControlName="contrasena">
            </mat-form-field>

            <div class="d-flex justify-content-end">
              <button type="submit" class="centrar" mat-raised-button color="accent">Entrar</button>
            </div>
          </div>
      </form>
    </div>
  </div>

  <!-- imagen -->
  <div class="col-md-4">
    <img src="./assets/img/inicio.png" alt="">
  </div>
</div>














<!-- <form [formGroup]="formulario" (ngSubmit)="login()">
  <div class="row">
    <div class="col-md-4">
      <mat-form-field appearance="fill" class="w100">
        <mat-label>Usuario</mat-label>
        <input type="text" matInput autocomplete="off" formControlName="usuario">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <mat-form-field appearance="fill" class="w100">
        <mat-label>Contraseña</mat-label>
        <input type="text" matInput autocomplete="off" formControlName="contrasena">
      </mat-form-field>
    </div>
  </div>

  <div class="row">
    <div class="col-md-2">
      <mat-slide-toggle formControlName="admin">Es Admin</mat-slide-toggle>
    </div>
  </div>

  <div class="row">
    <div class="col-md-4">
      <div class="d-flex justify-content-end">
        <button type="submit" class="centrar" mat-raised-button color="primary">Entrar</button>
      </div>
    </div>
  </div>
</form> -->



