<h2 class="titulos">Listado de Cursos</h2>

<div class="row">
  <div *ngFor="let curso of cursos" class="col-md-3">
    <mat-card class="m-2">
        <mat-card-title>{{ curso.nombre }}</mat-card-title>
        <mat-card-subtitle>Profesor: {{ curso.profesor }}</mat-card-subtitle>
        <mat-card-content>Comision: {{ curso.comision }}</mat-card-content>
      <mat-card-actions align="end">
        <button mat-button>Inscribirse</button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
