/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.titulos {
  padding-top: 20px;
  color: #3F51B5;
  font-weight: bold;
}

th {
  background-color: grey;
  color: white !important;
}

.colorVerde {
  color: LightSeaGreen;
}

.colorRojo {
  color: LightCoral;
}

.colorAmarillo {
  color: gold;
}

.w100 {
  width: 100%;
}

.mat-simple-snackbar .mat-button-wrapper {
  font-family: 'Material Icons';
  font-size: 24px;
}
