/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* ********* Titulos *********  */

.titulos {
  padding-top: 20px;
  color: #3F51B5;
  font-weight: bold;
}


/* ********* Tabla *********  */

.lista-tabla th {
  background-color: black;
  border-top: 30px solid #fafafa !important;
  color: white !important;
  text-align: center !important;
  max-height: 5px !important;
}

.lista-tabla td {
  text-align: center !important;
}

.mat-table {
  overflow: auto;
  max-height: 270px;
}


/* ********* Color iconos (ver, editar, eliminar) *********  */

.colorIconoVer {
  color: LightSeaGreen;
}

.colorIconoEditar {
  color: gold;
}

.colorIconoEliminar {
  color: gray;
}


/* ********* Dialogs *********  */

.tituloDialog {
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-bottom: 20px;
  background-color: #3F51B5;
  color: white;
}

